* {
  display: block;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-weight: 300;
  width: 100%;
  background-color: #f5c47a;
}
.text-thin {
  font-weight: 100;
  font-weight: bolder;
  text-shadow: #FFFFFF -2px -2px;
}
.title-super {
  font-size: 60px;
  font-style: italic;
}
.title-logo {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
.line {
  height: 5px;
  background-color: #FFFFFF;
}
.text-muted {
  font-style: oblique;
  color: #BCBBBB;
  text-shadow: black 2px 2px;
}
.description {
  font-style: oblique;
  font-weight: normal;
  text-align: justify;
  text-indent: 5em;
  background: #f2dede;
}
.img-center {
  width: 100%;
}
.img-portfolio {
  width: 293px;
  height: 196px;
  margin: auto;
  cursor: pointer;
}
.text-footer {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  text-shadow: #FF0 -2px -2px;
}
@media screen and (max-width: 600px) {
  body {
    background-color: #9ABCDE;
    font-family: monospace;
  }
  .heading {
    display: flex;
    flex-wrap: wrap;
  }
  .title-logo {
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }
  .title-super {
    text-align: right;
    text-shadow: none;
  }
  .title-note {
    margin-right: -20px;
  }
  .text-muted {
    text-align: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 995px) {
  .container {
    display: block;
    background-color: #7af5eb;
  }
  .title-logo {
    display: block;
    margin: auto;
}
  .title-note {
    text-align: center;
  }
  .images-995 {
    display: flex;
    flex-wrap: wrap;
  }
}
